@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .disabled {
    @apply opacity-50;
    @apply select-none;
    @apply pointer-events-none;
  }
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  src: url('./assets/fonts/inter.woff2') format('woff2');
}

:root {
  --gray-1: #f2f7ff; /* hsv(220,  5, 100) */
  --gray-2: #dadee5; /* hsv(220,  5,  90) */
  --gray-3: #6b768c; /* hsv(220, 24,  55) */
  --gray-4: #4b5466; /* hsv(220, 26,  40) */
  --gray-5: #373e4c; /* hsv(220, 28,  30) */
  --gray-6: #242933; /* hsv(220, 30,  20) */
  --accent: #5d80ab;
}

html {
  @apply bg-gray-6;
  @apply text-gray-2;

  font-family: Inter, Roboto, ui-sans-serif, sans-serif;
  font-feature-settings: 'cv07';
  font-size: 14;

  -webkit-tap-highlight-color: transparent;
}

::selection {
  @apply bg-accent;
  @apply text-gray-2;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-4) var(--gray-5);
}

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
}

::-webkit-scrollbar-track-piece {
  @apply bg-gray-5;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-4;

  &:hover,
  &:active {
    @apply bg-gray-3;
  }
}
